.contact-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container .content{
  width: 100%;
  padding: 96px;
  background: #FFF;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between; /*section para esquerda e form direita com space entre eles*/
  align-items: center;

}
.contact-container .content section{
  width: 100%;
  max-width: 380px;
}

.contact-container .content section h1{
  margin-top: 2px;
  margin-left: 20px;
  /*margin: 64px 0 32px;*/
  font-size: 24px;
  color:#421A1A;
}

.contact-container .content section p{
  margin-bottom: 22px;
  font-size: 18px;
  color: #737380;
  line-height: 32px;
  margin-left: 20px;
}

.contact-container .content form{
  width: 100%;
  max-width: 450px;

}
.contact-container .content form input,
.contact-container .content form textarea{
  margin-top:  8px;
}
.menu-principal{
  background-color: #6A3434 ;
  height: 60px;
  width: 100%;
  }
  .main{
    margin: 0 auto;
    width: 1200px;
    position: relative;
  }
  .logo{
    float: left;
    padding: 5px;
    width: 20%;
  }
  .menu ul li{
    margin-top: 20px;
    display: inline-block;
    list-style: none;  
  }
  .menu ul li a{
   color: #E39999;
   text-decoration: none;
   margin-right: 25px;
  }
  .menu{
  width: 40%;
  }
  .foot{
    background-color: #6A3434 ;
    height: 80px;
    width: 100%;
    
    }
    .foot img{
      margin-top: 10px;
    }