* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  font: 400 14px Robot, sans-serif;
  background-color: rgb(248, 245, 245);
  -webkit-font-smoothing: antialiased; 
}
button{
  cursor: pointer;
}
form input {
  width: 100%;
  height: 55px;
  color: #333;
  border: 1px solid #FFDEDE;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  height: 40px;
  color: #333;
  border: 1px solid #FFDEDE;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}
.button{
  width: 100%;
  height: 60px;
  background: #B56D6D;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover{
  filter: brightness(90%);
}
.back-link{
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #D25252;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;

}

.back-link svg{
    margin-right: 8px;
}
.back-link:hover{
    opacity: 0.8;
}
